// ------------- CARTE CLUB ------------- //

.carteclub {
    background-image: url('/src/assets/imgs/carteclub-bg.jpg');
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    padding: 180px 210px; 
    color: #fff;
    position: relative;
    &:before, &:after {
        content: "";
        height: 100%;
        width: 100%;
        display: block;
        background-repeat: repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    &:before {
        background-image: url('/src/assets/imgs/carteclub-texture-1.png');
        background-position: top center;
    }
    &:after {
        background-image: url('/src/assets/imgs/carteclub-texture-2.png');
        background-position: bottom center;
    }
    &-inner {
        position: relative;
        display: inline-block;
        &:before {
            content: url('/src/assets/imgs/carteclub-card.png');
            position: absolute;
            left: calc(-100% + 45px);
            top: 63%;
            z-index: 1;
        }
    }
    &-subtitle {
        @extend %base-ss;
        letter-spacing: .12em;
        margin-bottom: 4px;
    }
    &-title {
        @extend %large-s;
    }
    &-info {
        @include font-style($medium-ss);
        margin: 35px auto;
        max-width: 400px;
    }
    &-btn {
        border: 3px solid #fff;
        display: inline-block;
        color: #fff;
        padding: 9px 25px;
        span {
            @extend %btn-ss;
            vertical-align: middle;
        }
        img {
            width: 33px;
            vertical-align: middle;
            transform: translateY(-2px);
        }
    }
}